:root {
  --header-top-margin: 1.5rem;
  --section-inline-padding: 6%;
}
.flex {
  display: flex;  
}
.row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.section {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: clamp(1.5rem, var(--section-inline-padding), 10.3125rem);
  overflow-x: hidden;
}
.header {
  margin-top: var(--header-top-margin);
  &__hero {
    margin-top: 4rem;
    gap: 4rem;
  }
}
.hero {
  &__info {
    flex-basis: 18.75rem;
    &__text {
      margin-block: 2rem;
    }
    &__cta {
      align-items: center;
      gap: 2rem;
    }
  }
  &__img {
    flex-basis: 12.5rem;
    position: relative;
    &__wrapper {
      width: 0;
      position: relative;
      left: 0rem;
    }
  }
}
.section-1 {
  margin-top: 1.5rem;
  &__container {
    gap: 4.6875rem 7.8125rem;
  }
  &__img {
    position: relative;
    //max-width: 100%;
    flex-basis: 43.75rem;
  }
  &__info {
    flex-basis: 15.625rem;
    &__wrapper {
      gap: 1.5rem 2.25rem;
    }
    &__title {
      flex-basis: min-content;
      max-width: 255px;
    }
    &__text {
      flex-basis: 18.75rem;
    }
  }
}
.section-2{
    margin-top: min(30%, 10.5rem);
    &__row{
        column-gap: 1.875rem;
        row-gap: 4rem;
        align-items: flex-start;
    }
    &__column{
        flex-basis: 31.25rem;
        gap: 4rem;
        align-items: flex-start;
    }
    &__subcolumns{
        flex-basis: 12.5rem;
    }
}
.footer{
    padding-block: min(25%, 8rem) 3.125rem;
    &__copyright{
        width: fit-content;
        margin-inline: auto;
    }
}
