html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

*::before, *::after {
  box-sizing: border-box;
}

a {
  color: black;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

svg {
  color: inherit;
}

input {
  outline: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: hsl(0, 0%, 100%);
}

:root {
  --header-top-margin: 1.5rem;
  --section-inline-padding: 6%;
}

.flex {
  display: flex;
}

.row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.section {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: clamp(1.5rem, var(--section-inline-padding), 10.3125rem);
  overflow-x: hidden;
}

.header {
  margin-top: var(--header-top-margin);
}
.header__hero {
  margin-top: 4rem;
  gap: 4rem;
}

.hero__info {
  flex-basis: 18.75rem;
}
.hero__info__text {
  margin-block: 2rem;
}
.hero__info__cta {
  align-items: center;
  gap: 2rem;
}
.hero__img {
  flex-basis: 12.5rem;
  position: relative;
}
.hero__img__wrapper {
  width: 0;
  position: relative;
  left: 0rem;
}

.section-1 {
  margin-top: 1.5rem;
}
.section-1__container {
  gap: 4.6875rem 7.8125rem;
}
.section-1__img {
  position: relative;
  max-width: 100%;
  flex-basis: 43.75rem;
}
.section-1__info {
  flex-basis: 15.625rem;
}
.section-1__info__wrapper {
  gap: 1.5rem 2.25rem;
}
.section-1__info__title {
  flex-basis: min-content;
  max-width: 255px;
}
.section-1__info__text {
  flex-basis: 18.75rem;
}

.section-2 {
  margin-top: min(30%, 10.5rem);
}
.section-2__row {
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 4rem;
  align-items: flex-start;
}
.section-2__column {
  flex-basis: 31.25rem;
  gap: 4rem;
  align-items: flex-start;
}
.section-2__subcolumns {
  flex-basis: 12.5rem;
}

.footer {
  padding-block: min(25%, 8rem) 3.125rem;
}
.footer__copyright {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.title {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(220, 50%, 17%);
}

.hero-title {
  font-size: 3rem;
  line-height: 100%;
}

.section-title {
  font-size: 2rem;
  line-height: 112%;
  text-align: center;
}

.subsection-title {
  font-size: 1.5rem;
  line-height: 117%;
  text-align: center;
}

.text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: hsl(221, 23%, 58%);
}

.hero-text,
.section-text,
.button-text {
  font-size: 16px;
  line-height: 162%;
}

.section-text {
  text-align: center;
}

.button-text {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.data-release {
  color: hsl(221, 23%, 58%);
}

.bolded-text {
  font-weight: 700;
}

.button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6875rem 0.875rem;
  border-radius: 0.5rem;
}
.button--navbar {
  background: hsl(198, 28%, 93%);
  color: hsl(220, 50%, 17%);
}
.button--cta {
  background: hsl(22, 88%, 52%);
  color: hsl(0, 0%, 100%);
}

.navbar {
  gap: 2rem;
  align-items: center;
}
.navbar__logo {
  width: 2.5rem;
}
.navbar__cta {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.image {
  width: 100%;
}

.image-container {
  border-radius: 1.25rem;
  overflow: hidden;
  flex-grow: 1;
  height: -moz-fit-content;
  height: fit-content;
}

.dual-image-container {
  align-items: center;
  gap: 1.5rem;
  min-width: 373px;
  width: 100%;
  position: relative;
  left: 100%;
  transform: translate(-100%, 0rem);
}

.orange-overlay {
  position: relative;
}
.orange-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: #f16718;
  border-radius: 1.25rem;
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.icon {
  background: hsl(22, 88%, 52%);
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 1rem;
}

.info-box__icon {
  margin-inline: auto;
}
.info-box__title {
  margin-block: 3rem 1.5rem;
}

/* .bg-pattern {
  &--right,
  &--left{
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 15.9375rem;
      height: 15rem;
      background: hsla(199, 29%, 93%, 1);
      border-radius: 1.25rem;
      transform: translate( -50%, 0);
    }
  }
  &--right::before{
    top:0;
    left: 50%;
  }
   &--left::before{
    top: 100%;
    left: -1.875rem;
    transform: translate( -100%, -100%);
  } 
} */
@media (hover: hover) {
  .button--navbar:hover {
    background: hsl(220, 50%, 17%);
    color: hsl(0, 0%, 100%);
  }
  .button--cta:hover {
    background: hsl(22, 100%, 69%);
  }
}
@media (min-width: 37.5rem) {
  :root {
    --header-top-margin: 2.5rem;
    --section-inline-padding: 5.2%;
  }
  .section-title,
  .subsection-title,
  .section-text {
    text-align: start;
  }
  .button {
    padding: 1rem 1.625rem;
  }
  .info-box__icon {
    margin-inline: 0 auto;
  }
  .info-box__title {
    margin-block: 2.5rem 1.5rem;
  }
  .image-holder {
    border-radius: 1.25rem;
    overflow: hidden;
    min-width: 478px;
  }
  .section-2__row {
    row-gap: 4.5rem;
  }
}/*# sourceMappingURL=style.css.map */