@media (min-width: 37.5rem) {
  :root {
    --header-top-margin: 2.5rem;
  }
  .section-title,
  .subsection-title,
  .section-text {
    text-align: start;
  }
  .button {
    padding: 1rem 1.625rem;
  }
  .info-box {
    &__icon {
      margin-inline: 0 auto;
    }
    &__title {
      margin-block: 2.5rem 1.5rem;
    }
  }
  .image-holder {
    min-width: 29.875rem;
  }
  .section-1{
    margin-top: 2.5rem;
  }
  .section-2 {
    &__row {
      row-gap: 4.5rem;
    }
  }
}
